doctype html
html
  head
    title Change Password
  body
    h1 Change Password
    form(action=`/users/${user.username}/change-password` method="POST")
      label(for="oldPassword") Old Password:
      input(type="password" name="oldPassword" required)
      br
      label(for="newPassword") New Password:
      input(type="password" name="newPassword" required)
      br
      button(type="submit") Change Password
    a(href=`/users/${user.username}/profile`) Cancel
