doctype html
html
  head
    title= title
  body
    h1 Welcome to the Card Game
    h2= title
    if error
      p.error= error
    form(action='/login', method='post')
      label(for='username') Username:
      input(type='text', name='username', required)
      br
      label(for='password') Password:
      input(type='password', name='password', required)
      br
      button(type='submit') Login
